<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>passing value</title>
</head>
<body>
    {{$age := .}}
    <h4>Hello my self is niteesh dubey and my age is {{$age}}</h4>
</body>
</html>