<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parsing STdOut </title>
</head>
<body>
    <h1>Hello the parsing is done</h1>    
</body>
</html>