<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passing Struct</title>
</head>
<body>
    <h1>Passing the struct</h1>
    <p><b>Name: </b>{{.Name}}</p>
    <p><b>Motto: </b>{{.Motto}}</p>
</body>
</html>